<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/planetas.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
    <script src="../script/index.js" defer></script>
    <script src="../script/planetas.js" defer></script> 
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Sun&Sons</title>
</head>
<body>
    <header>
        <nav class="main-nav">
            <span class="nav-bar" id="btnMenu"><i class="fas fa-bars"></i> Menu</span>
            <ul class="menu">
                <a id="logo" class="menu_link"  href="/index.html">Sun&Sons</a>
                <li class="menu_item container-submenu">
                    <a class="menu_link submenu-btn btnMenu" href="#">Planetas</a>
                    <ul class="submenu">
                        <li class="menu_item"><a class="menu_link" href="/views/mercurio.html">Mercurio</a></li>
                        <li class="menu_item"><a class="menu_link" href="/views/venus.html">Venus</a></li>
                        <li class="menu_item"><a class="menu_link" href="/views/tierra.html">Tierra</a></li>
                        <li class="menu_item"><a class="menu_link" href="/views/marte.html">Marte</a></li>
                        <li class="menu_item"><a class="menu_link" href="/views/jupiter.html">Júpiter</a></li>
                        <li class="menu_item"><a class="menu_link" href="/views/saturno.html">Saturno</a></li>
                        <li class="menu_item"><a class="menu_link" href="/views/urano.html">Urano</a></li>
                        <li class="menu_item"><a class="menu_link" href="/views/neptuno.html">Neptuno</a></li>
                    </ul>
                </li> 
                <li class="menu_item container-submenu">
                    <a class="menu_link submenu-btn btnMenu" href="#">Sistema Solar</a>
                    <ul class="submenu">
                        <li class="menu_item"><a class="menu_link" href="/views/sistemaSolar.html">Características</a></li>
                        <li class="menu_item"><a class="menu_link" href="/views/sol.html">Sol</a></li>
                    </ul>
                </li> 
                <li class="menu_item container-submenu">
                    <a class="menu_link submenu-btn btnMenu" href="#">Fotos</a>
                    <ul class="submenu">
                        <li class="menu_item"><a class="menu_link" href="/views/fotoDelDia.html">Foto del día</a></li>
                        <li class="menu_item"><a class="menu_link" href="/views/buscadorFotos.html">Buscador</a></li>
                    </ul> 
                </li>
                <li>
                    <a class="menu_link" href="/views/herramientas.html">Herramientas</a>
                </li>                         
            </ul>
        </nav>
        
    </header>
    <main>
        <article>
            <h1>Saturno</h1>
            <div id="imgSaturno">
            </div>
            <div id="contenedorInfoSaturno"></div>
        </article>
    </main>
</body>
</html>